</html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <style media="screen">
        * {
            font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: bolder;
        }

        .row {
            margin: 0;
        }

        .navbar-default {
            height: 100px;
            padding-top: 23px;
            padding-left: 70px;
            border: 0;
            border-radius: 0 !important;
            background: #1d80af;
        }

        .navbar-default .navbar-brand {
            text-transform: uppercase;
            font-size: 2em;
            text-decoration: none;
            color: white;
            transition: color 0.3s ease;
            cursor: pointer;
        }

        .navbar-default .navbar-brand:hover {
            color: #1d80af;
            transition: color 0.3s ease;
        }

        .card {
            padding: 10px;
            padding-top: 20px;
            background: #18bc9c;
            border: 1px #c8c3ff solid;
            border-radius: 5px;
            text-align: center;
            margin: 10px 3% 1% 3%;
            height: 190px;
            width: calc(80% * (1/3));
        }

        .card .card-title {
            color: #02695e;
            font-size: 2em;
            font-weight: bold;
            text-transform: capitalize;
        }

        .card .card-link {
            margin-top: 40px;
            font-size: 1.1em;
            font-weight: bold;
            width: 90%;
            border: 2px solid white;
            color: white;
            background: transparent;
            transition: background-color 0.5s ease;
        }

        .card .card-link:hover {
            color: #18bc9c;
            background: white;
            transition: background-color 0.5s ease;
        }

        .form-container {
            height: 400px;
            padding-left: 30px;
        }

        .form-control {
            width: 90%;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">PORTFOLIO SYSTEM</a>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <div class="row">


            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="form-container">
              <%  if(oldprofile!=0) {    %>
                <h3 style="margin-bottom:40px;">Login</h3>
                  <h3 style="margin-bottom:20px; color:red">oldprofile !!</h3>
                <% } %>
                <form class="form" method="POST" action="/">
                    <div class="form-group">
                        <label for="InputTitle">Username</label>
                        <input name = "Username" type="text" class="form-control" id="InputTitle" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="InputLink">Password</label>
                        <input name = "Pass" type="password" class="form-control" id="InputLink" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-default">Login</button>
                </form>
                <div style="margin-top:40px;">
                  <a class="row" href="/signup"> New User? Sign up here..</a></div>
            </div>
        </div>
    </div>

</html>
